In [2]:
#shlee23922@naver.com 상호오빠 메일

In [ ]:
#python tutorial 1

In [4]:
type(600)

int

In [5]:
type("hello")

str

In [8]:
x = 10
print(x)

10

In [10]:
x = 100
print(x)

100

In [11]:
a = [1,2,3,4,5]

In [12]:
a[0]

1

In [13]:
len(a)

5

In [14]:
a[0:3]

[1, 2, 3]

In [15]:
a[2:]

[3, 4, 5]

In [16]:
a[:3]

[1, 2, 3]

In [17]:
a[:-2]

[1, 2, 3]

In [18]:
city = {'Seoul':0,'Pusan':1}

In [19]:
city['Seoul']

0

In [20]:
city['Pusan']

1

In [21]:
city['Bucheon'] = 2

In [22]:
print(city)

{'Seoul': 0, 'Pusan': 1, 'Bucheon': 2}

In [27]:
for k in [1,2,3,4,5]:
    print("Hello world!")

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!

In [29]:
for k in range(0,5):
    print("hello world!")

hello world!
hello world!
hello world!
hello world!
hello world!

In [30]:
for k in range(1,6):
    print(k, "sqare is",k*k)

1 sqare is 1
2 sqare is 4
3 sqare is 9
4 sqare is 16
5 sqare is 25

In [32]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [42]:
sum = 1
for i in range (1,21):
    sum = sum*i
print(sum)

2432902008176640000

In [45]:
sum = 0
for i in range(1,21):
    i = i**2
    sum = sum+i
print(sum)

2870

In [47]:
sum = 0 
k = 1
while k < 21:
    sum = sum +(k*k)
    k = k + 1
print(sum)

2870

In [53]:
score = 70
if score < 60 :
    print("your credit is F")
else:
        print("your credit is A")

your credit is A